.DS_Store
config/.config/chromium
config/.config/wpdevmanage
config/.config/sublime-text-3
config/.config/spotify
config/.config/Slack
config/.config/libreoffice/..
config/.config/i3/startup
config/.config/pulse
config/.config/Atom
config/.config/teamviewer
config/.config/yarn/*/**
config/.config/Sinew\ Software\ Systems
config/.config/composer
config/.config/whatsapp-desktop
config/.config/configstore
