! ------------------------------------------------------------------------------
! ! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #000000, #c100c0, #c100c0
rofi.color-normal: #000000, #c5c8c6, #000000, #c100c0, #c5c8c6
rofi.color-active: #000000, #c5c8c6, #000000, #000000, #c5c8c6
rofi.color-urgent: #000000, #dc322f, #000000, #dc322f, #fdf6e3
